<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/09b13e06-2f23-4c87-94e0-c3595e1befdf/resourcegroups/DemoTask/providers/Microsoft.ContainerRegistry/registries/CosmosDemo</ResourceId>
    <ResourceName>CosmosDemo</ResourceName>
    <ResourceGroup>DemoTask</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://cosmosdemo.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4de0009a-c85e-4a9d-b328-c6a91e061a5c</ProjectGuid>
  </PropertyGroup>
</Project>